In [2]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [3]:
raw0_df = pd.read_csv('data/raw2_0.csv', index_col = 0)
raw1_df = pd.read_csv('data/raw2_1.csv', index_col = 0)

In [4]:
raw0_df.head()

,track_id_clean,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,date,hour_of_day,day_of_week,GROUP
0,t_1d93867d-ec01-4dd1-a1b5-07713f75571a,0.711919,0.399499,-9.551,0.028237,0.159065,0.000377,0.088130,0.799496,97.917999,191636.0,4,2018-07-15,0,0,Evening
1,t_022ac379-7d9e-4980-a1df-f21c14c71fbc,0.293747,0.407205,-11.575,0.030752,0.025825,0.000219,0.085159,0.037802,101.052002,235067.0,4,2018-07-15,0,0,Evening
2,t_b2d43fd4-c06a-4a83-a4db-5e4069a33d7f,0.451133,0.962321,-3.947,0.073428,0.018844,0.000003,0.276815,0.376587,131.434998,323707.0,4,2018-07-15,0,0,Evening
3,t_b2d43fd4-c06a-4a83-a4db-5e4069a33d7f,0.451133,0.962321,-3.947,0.073428,0.018844,0.000003,0.276815,0.376587,131.434998,323707.0,4,2018-07-15,0,0,Evening
4,t_1f1b80aa-54de-4b8e-bdc1-1f5e515f6af4,0.651450,0.766461,-9.935,0.029894,0.206378,0.001034,0.362067,0.948500,116.739998,242107.0,4,2018-07-15,0,0,Evening

In [4]:
raw0_df = pysqldf("SELECT *, strftime('%w', date) AS day_of_week FROM raw0_df")
raw1_df = pysqldf("SELECT *, strftime('%w', date) AS day_of_week FROM raw1_df")

In [5]:
raw0_df = pysqldf("SELECT *, CASE WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23) THEN 'Night' \
    WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 4 OR hour_of_day = 5) THEN 'Late Night/ Early Morning' \
        WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11) THEN 'Morning' \
            WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22) THEN 'Evening' \
                    WHEN day_of_week = 5 AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3) THEN 'Night' \
                        WHEN day_of_week = 5 AND (hour_of_day = 4 OR hour_of_day = 5) THEN 'Late Night/ Early Morning' \
                            WHEN day_of_week = 5 AND (hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                WHEN day_of_week = 5 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                                     WHEN day_of_week = 5 AND (hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22 OR hour_of_day = 23) THEN 'Evening' \
                                         WHEN day_of_week = 6 AND (hour_of_day = 3 OR hour_of_day = 4) THEN 'Night' \
                                             WHEN day_of_week = 6 AND (hour_of_day = 5 OR hour_of_day = 6) THEN 'Late Night/ Early Morning' \
                                                 WHEN day_of_week = 6 AND (hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                                     WHEN day_of_week = 6 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16) THEN 'Afternoon' \
                                                         WHEN day_of_week = 6 AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 OR hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22 OR hour_of_day = 23) THEN 'Evening' \
                                                             WHEN day_of_week = 0 AND hour_of_day = 4 THEN 'Night' \
                                                                 WHEN day_of_week = 0 AND (hour_of_day = 5 OR hour_of_day = 6 OR hour_of_day = 7) THEN 'Late Night/ Early Morning' \
                                                                     WHEN day_of_week = 0 AND (hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                                                         WHEN day_of_week = 0 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                                                                             ELSE 'Evening' END AS 'GROUP' FROM raw0_df")

In [6]:
raw1_df = pysqldf("SELECT *, CASE WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23) THEN 'Night' \
    WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 4 OR hour_of_day = 5) THEN 'Late Night/ Early Morning' \
        WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11) THEN 'Morning' \
            WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                WHEN (day_of_week = 1 OR day_of_week = 2 OR day_of_week = 3 OR day_of_week = 4) AND (hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22) THEN 'Evening' \
                    WHEN day_of_week = 5 AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3) THEN 'Night' \
                        WHEN day_of_week = 5 AND (hour_of_day = 4 OR hour_of_day = 5) THEN 'Late Night/ Early Morning' \
                            WHEN day_of_week = 5 AND (hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                WHEN day_of_week = 5 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                                     WHEN day_of_week = 5 AND (hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22 OR hour_of_day = 23) THEN 'Evening' \
                                         WHEN day_of_week = 6 AND (hour_of_day = 3 OR hour_of_day = 4) THEN 'Night' \
                                             WHEN day_of_week = 6 AND (hour_of_day = 5 OR hour_of_day = 6) THEN 'Late Night/ Early Morning' \
                                                 WHEN day_of_week = 6 AND (hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                                     WHEN day_of_week = 6 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16) THEN 'Afternoon' \
                                                         WHEN day_of_week = 6 AND (hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 OR hour_of_day = 20 OR hour_of_day = 21 OR hour_of_day = 22 OR hour_of_day = 23) THEN 'Evening' \
                                                             WHEN day_of_week = 0 AND hour_of_day = 4 THEN 'Night' \
                                                                 WHEN day_of_week = 0 AND (hour_of_day = 5 OR hour_of_day = 6 OR hour_of_day = 7) THEN 'Late Night/ Early Morning' \
                                                                     WHEN day_of_week = 0 AND (hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10) THEN 'Morning' \
                                                                         WHEN day_of_week = 0 AND (hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19) THEN 'Afternoon' \
                                                                             ELSE 'Evening' END AS 'GROUP' FROM raw1_df")

In [13]:
cte1 = pysqldf("SELECT *, COUNT(`GROUP`) AS occurrences FROM raw0_df GROUP BY track_id_clean, `GROUP`")
cte2 = pysqldf("SELECT *, RANK() OVER(PARTITION BY track_id_clean ORDER BY occurrences DESC) AS rnk FROM cte1")
clean2_0_df = pysqldf("SELECT * FROM cte2 WHERE rnk = 1 ORDER BY occurrences DESC")

In [14]:
clean2_0_df.head(50)

,track_id_clean,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,date,hour_of_day,day_of_week,GROUP,occurrences,rnk
0,t_bacf06d3-9185-4183-84ea-ff0db51475ce,0.834743,0.625758,-5.833,0.125471,0.058855,5.999111e-05,0.396249,0.349988,91.029999,217925.0,4,2018-07-15,19,0,Afternoon,2044,1
1,t_a66ea088-b357-449a-8a1e-64dd0b8d6cb5,0.510576,0.566101,-7.230,0.199701,0.349092,1.782869e-10,0.340215,0.218147,83.903000,239836.0,4,2018-07-15,19,0,Afternoon,1219,1
2,t_8c4d29b1-e0bf-464c-88f7-ac19240cbba0,0.912074,0.411767,-8.074,0.123543,0.016422,1.296161e-02,0.103578,0.421819,154.983002,238614.0,4,2018-07-15,19,0,Afternoon,1090,1
3,t_7533e7ff-568e-448b-904e-fc0c3a9ec87e,0.602497,0.658369,-5.934,0.055776,0.023296,6.004127e-05,0.237237,0.267838,145.031006,197547.0,4,2018-07-16,16,1,Afternoon,933,1
4,t_0e3dec82-10b4-49f1-8c2e-cd19249f7d2c,0.754948,0.574916,-8.393,0.067774,0.045618,1.236852e-03,0.276028,0.490333,85.987000,205147.0,4,2018-07-16,14,1,Afternoon,830,1
5,t_68888d19-7be6-4cdc-bcfb-be38431f79d7,0.760393,0.578727,-7.374,0.056942,0.012914,3.508616e-03,0.106461,0.125070,100.010002,213600.0,4,2018-07-16,16,1,Afternoon,829,1
6,t_abe577df-bc3e-48ff-a13c-f2fd7a295ba6,0.739956,0.612869,-4.880,0.145213,0.257565,3.721748e-03,0.123049,0.473102,75.023003,166606.0,4,2018-07-16,17,1,Afternoon,813,1
7,t_9229bbff-130d-4668-8e84-6b35c7b7cea0,0.920612,0.536684,-5.723,0.080418,0.555918,4.037122e-03,0.101738,0.710770,128.009003,135090.0,4,2018-07-16,12,1,Afternoon,797,1
8,t_1dba18ad-1ddb-4e97-983b-4af57e18d84a,0.596410,0.853887,-5.114,0.463105,0.016890,1.444471e-09,0.124094,0.151833,120.274002,203418.0,4,2018-07-16,17,1,Afternoon,745,1
9,t_81b9a202-281e-42a4-b068-e0c0f44e1e4d,0.506434,0.693315,-7.265,0.041171,0.584391,9.581785e-05,0.089053,0.221386,139.912003,216420.0,4,2018-07-15,19,0,Afternoon,684,1
10,t_8f9f2397-334b-48ee-9120-96d9ddf32f92,0.963618,0.345686,-9.309,0.529924,0.035039,6.035585e-11,0.108257,0.562020,119.958000,142273.0,4,2018-07-16,12,1,Afternoon,655,1
11,t_32270005-26a1-4763-8ba5-44fcc15f9914,0.705225,0.784390,-6.477,0.270850,0.013258,3.358560e-08,0.168045,0.376777,160.035004,264853.0,4,2018-07-16,19,1,Afternoon,595,1
12,t_fc5df5ba-5396-49a7-8b29-35d0d28249e0,0.679719,0.563009,-5.843,0.045354,0.354116,2.659035e-08,0.135776,0.373862,145.028000,231267.0,4,2018-07-16,19,1,Afternoon,554,1
13,t_52fc9bcf-ce50-43fc-9498-c2c8421a33e7,0.736817,0.636002,-4.546,0.043701,0.044075,6.660252e-05,0.350031,0.564775,105.004997,222653.0,4,2018-07-16,19,1,Afternoon,548,1
14,t_d0c22c8c-7969-4d17-bf0d-d4fa3c04a768,0.751643,0.764129,-4.399,0.037951,0.047590,9.440027e-05,0.054322,0.581517,121.958000,163216.0,4,2018-07-16,19,1,Afternoon,491,1
15,t_4319026b-d2b5-478d-bf37-8f2873645c5c,0.486544,0.848801,-5.432,0.245869,0.048095,6.209638e-13,0.142508,0.519903,152.093002,216333.0,4,2018-07-16,17,1,Afternoon,451,1
16,t_b362a386-e30e-46be-bb44-af6efd02260f,0.741898,0.579479,-5.024,0.201621,0.038102,8.020023e-09,0.095194,0.502044,144.994003,258475.0,4,2018-07-15,19,0,Afternoon,424,1
17,t_b3db6567-f986-4b8f-bd7a-04057448ab3a,0.850020,0.568587,-8.152,0.136033,0.060908,8.160312e-02,0.100455,0.293759,80.019997,205040.0,4,2018-07-16,19,1,Afternoon,420,1
18,t_992664c2-0754-4eb1-b0c3-0a6aa87697f5,0.876578,0.476940,-7.379,0.058738,0.306884,5.108577e-07,0.092864,0.552400,127.023003,226743.0,4,2018-07-16,19,1,Afternoon,414,1
19,t_e9901b0e-dc9d-429c-a8a9-dde6ab877d54,0.775478,0.481582,-11.269,0.035661,0.476687,4.556535e-02,0.109985,0.133829,136.016006,247893.0,4,2018-07-16,19,1,Afternoon,399,1
20,t_61a0db14-98a8-4ad1-a770-a3ea9baba121,0.915726,0.492707,-7.371,0.162367,0.120154,2.632320e-06,0.211199,0.327021,140.057007,195591.0,4,2018-07-16,16,1,Afternoon,389,1
21,t_42d15744-c948-489e-a92b-9e664c170b57,0.791564,0.560324,-4.125,0.224884,0.493359,2.696467e-07,0.084938,0.505237,134.044006,206267.0,4,2018-07-16,19,1,Afternoon,386,1
22,t_ab55b9b5-3a1a-46a4-b58a-1c29136a08e2,0.686336,0.428488,-13.072,0.192419,0.041402,3.986959e-08,0.138068,0.329169,141.949997,289560.0,4,2018-07-16,19,1,Afternoon,349,1
23,t_e8308b79-41cf-4b31-b159-df093b592b41,0.657453,0.570500,-12.519,0.140077,0.106312,1.210747e-03,0.073543,0.626230,167.960999,207307.0,4,2018-07-16,19,1,Afternoon,340,1
24,t_98e73634-8f33-4275-b544-3451553f431e,0.607389,0.595600,-9.090,0.358223,0.133331,2.629653e-10,0.122876,0.148511,77.323997,136187.0,4,2018-07-16,19,1,Afternoon,339,1
25,t_3708b5d6-9d52-4470-9484-fff045aba7b6,0.887729,0.514770,-6.246,0.270562,0.247051,1.289442e-10,0.446096,0.263651,141.009003,225893.0,4,2018-07-16,14,1,Afternoon,307,1
26,t_e78182e6-b5d6-427c-a269-9eaffff6165a,0.733207,0.677958,-7.771,0.438484,0.121098,1.347256e-14,0.343578,0.840871,175.985001,142000.0,4,2018-07-16,19,1,Afternoon,294,1
27,t_46ca5054-e280-4f02-a874-e362e343f479,0.909080,0.628434,-5.456,0.200520,0.073939,9.579850e-07,0.108414,0.405704,145.904999,276147.0,4,2018-07-16,12,1,Afternoon,266,1
28,t_2e6b3753-5b16-4aa2-97f8-c77a81377139,0.592409,0.456534,-6.081,0.060333,0.660525,3.311601e-04,0.145568,0.225129,146.039993,110886.0,4,2018-07-16,19,1,Afternoon,260,1
29,t_bc2844e7-dc32-4e72-ae18-eef4a32d9d68,0.579067,0.903815,-2.729,0.061813,0.192887,2.812442e-10,0.063989,0.680623,82.014000,190947.0,4,2018-07-16,19,1,Afternoon,260,1
30,t_58b65d28-3a54-467e-bf44-511aa89f44d4,0.946776,0.441291,-9.311,0.135168,0.035261,1.255036e-07,0.111280,0.275341,125.010002,124526.0,4,2018-07-16,19,1,Afternoon,252,1
31,t_6a40d9f0-3c44-4e11-86cd-b9a55fe2ce0a,0.884162,0.578891,-6.847,0.299143,0.063956,2.384152e-06,0.181761,0.312965,144.973007,176630.0,4,2018-07-16,19,1,Afternoon,252,1
32,t_6d21a6b7-bdac-46cc-bc45-9c731cbc7233,0.499677,0.448401,-10.977,0.442182,0.421709,8.033890e-06,0.114820,0.103670,144.203995,219960.0,1,2018-07-16,19,1,Afternoon,252,1
33,t_aae74c4e-7ac0-4ffc-8560-88303a918c3f,0.902575,0.674948,-3.445,0.213687,0.542115,1.280306e-05,0.059543,0.442084,96.507004,417920.0,4,2018-07-16,17,1,Afternoon,247,1
34,t_f35eb373-15d1-4faa-9ca0-d0da975deebb,0.879681,0.428397,-8.280,0.206128,0.149069,5.072280e-05,0.113747,0.333133,100.007004,172800.0,4,2018-07-16,18,1,Afternoon,243,1
35,t_36845b5e-e8af-42f3-b619-f85c9a7ddb21,0.762547,0.725756,-6.405,0.282170,0.258646,1.016325e-11,0.097637,0.348765,139.059006,126346.0,4,2018-07-15,19,0,Afternoon,240,1
36,t_0f123593-5cb5-42ec-b4db-fb291a2e5eb9,0.713060,0.831458,-4.750,0.149534,0.016764,7.566926e-09,0.117758,0.583691,173.947998,332301.0,4,2018-07-16,19,1,Afternoon,238,1
37,t_a0a9b539-d854-4a3b-a9f1-fa57e5a8ac12,0.753354,0.660450,-6.542,0.133342,0.161489,9.764153e-11,0.236443,0.181800,95.002998,209213.0,4,2018-07-16,18,1,Afternoon,238,1
38,t_97f5ce68-328d-4690-891e-55ed364dbd02,0.475166,0.369965,-7.725,0.036070,0.819234,5.767639e-02,0.084088,0.157368,144.828003,200560.0,4,2018-07-16,19,1,Afternoon,237,1
39,t_1068d23a-869d-4d5d-9555-f6fd1744541e,0.351279,0.295567,-10.109,0.033312,0.934427,3.060890e-07,0.094979,0.119587,115.283997,200186.0,4,2018-07-16,19,1,Afternoon,236,1
40,t_6af5de9f-d439-4da0-8c73-f7ba4ef3936b,0.778935,0.767345,-5.462,0.257627,0.002141,6.376556e-12,0.102372,0.523359,91.981003,154565.0,4,2018-07-16,19,1,Afternoon,228,1
41,t_668f90a4-3d87-4044-a874-2388b4fac8b0,0.850563,0.702148,-4.172,0.268371,0.085377,1.150349e-10,0.374183,0.179236,126.940002,215839.0,4,2018-07-17,19,2,Afternoon,218,1
42,t_74eb6e99-210b-440c-8d7b-4db6617d1c80,0.850959,0.666146,-5.334,0.069366,0.139452,1.652945e-12,0.105345,0.058505,134.067993,129105.0,4,2018-07-17,17,2,Afternoon,217,1
43,t_6fa45ab2-f050-439e-a758-c92f8514e7fa,0.854261,0.463097,-6.159,0.137324,0.117322,3.284577e-08,0.353988,0.549466,120.024002,225773.0,4,2018-07-16,14,1,Afternoon,181,1
44,t_702db351-2fe3-4e52-bc67-d0a49162e509,0.600754,0.590246,-5.001,0.056879,0.185678,5.442033e-07,0.094207,0.274028,151.951996,206453.0,4,2018-07-16,19,1,Afternoon,180,1
45,t_64c3ac03-ec6e-48ab-989d-46564f620108,0.773098,0.602113,-6.384,0.107616,0.193888,4.426799e-04,0.140997,0.442400,74.896004,211200.0,4,2018-07-16,19,1,Afternoon,179,1
46,t_b06cf9b1-8198-4b9f-ad64-381f500afb58,0.935769,0.587805,-6.948,0.136484,0.014607,9.955122e-08,0.139393,0.238188,124.987000,255379.0,4,2018-07-16,22,1,Evening,178,1
47,t_c62a6914-7fdb-4165-8e3e-77299df1372c,0.782257,0.531103,-6.636,0.167728,0.145454,5.008028e-02,0.238125,0.247453,148.046005,129733.0,4,2018-07-17,19,2,Afternoon,176,1
48,t_8611c55a-c47f-42b2-8b05-d9ee7bbb6aa5,0.797023,0.843584,-5.482,0.274520,0.065074,9.758484e-07,0.087006,0.520233,170.141998,173600.0,4,2018-07-16,19,1,Afternoon,170,1
49,t_6a179307-848b-4397-a80b-02c7d9a17ab8,0.731531,0.749945,-6.366,0.230585,0.002641,1.512512e-08,0.108627,0.401149,155.095993,182707.0,4,2018-07-16,18,1,Afternoon,167,1

In [15]:
# raw0_df.to_csv('data/raw2_0.csv')
# raw1_df.to_csv('data/raw2_1.csv')
# clean2_0_df.to_csv('data/clean2_0.csv')

In [8]:
Sunday_df = pd.read_csv('data/Weekdays/Sunday.csv')
Monday_df = pd.read_csv('data/Weekdays/Monday.csv')
Tuesday_df = pd.read_csv('data/Weekdays/Tuesday.csv')
Wednesday_df = pd.read_csv('data/Weekdays/Wednesday.csv')
Thursday_df = pd.read_csv('data/Weekdays/Thursday.csv')
Friday_df = pd.read_csv('data/Weekdays/Friday.csv')
Saturday_df = pd.read_csv('data/Weekdays/Saturday.csv')

In [9]:
Sunday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 4 THEN 'Night' \
                                    WHEN hour_of_day = 5 OR hour_of_day = 6 OR hour_of_day = 7 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 THEN 'Morning' \
                                    WHEN hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Sunday_df")

In [10]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Sunday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                    Evening
1             1                    Evening
2             2                    Evening
3             3                    Evening
4             4                      Night
5             5  Late Night/ Early Morning
6             6  Late Night/ Early Morning
7             7  Late Night/ Early Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                  Afternoon
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                    Evening

In [11]:
Monday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23 THEN 'Night' \
                                    WHEN hour_of_day = 4 OR hour_of_day = 5 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11 THEN 'Morning' \
                                    WHEN hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Monday_df ")

In [12]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Monday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                      Night
1             1                      Night
2             2                      Night
3             3                      Night
4             4  Late Night/ Early Morning
5             5  Late Night/ Early Morning
6             6                    Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                    Morning
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                      Night

In [13]:
Tuesday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23 THEN 'Night' \
                                    WHEN hour_of_day = 4 OR hour_of_day = 5 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11 THEN 'Morning' \
                                    WHEN hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Tuesday_df ")

In [14]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Tuesday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                      Night
1             1                      Night
2             2                      Night
3             3                      Night
4             4  Late Night/ Early Morning
5             5  Late Night/ Early Morning
6             6                    Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                    Morning
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                      Night

In [15]:
Wednesday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23 THEN 'Night' \
                                    WHEN hour_of_day = 4 OR hour_of_day = 5 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11 THEN 'Morning' \
                                    WHEN hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Wednesday_df ")

In [16]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Wednesday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                      Night
1             1                      Night
2             2                      Night
3             3                      Night
4             4  Late Night/ Early Morning
5             5  Late Night/ Early Morning
6             6                    Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                    Morning
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                      Night

In [17]:
Thursday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 OR hour_of_day = 23 THEN 'Night' \
                                    WHEN hour_of_day = 4 OR hour_of_day = 5 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 OR hour_of_day = 11 THEN 'Morning' \
                                    WHEN hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Thursday_df ")

In [18]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Thursday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                      Night
1             1                      Night
2             2                      Night
3             3                      Night
4             4  Late Night/ Early Morning
5             5  Late Night/ Early Morning
6             6                    Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                    Morning
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                      Night

In [19]:
Friday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 0 OR hour_of_day = 1 OR hour_of_day = 2 OR hour_of_day = 3 THEN 'Night' \
                                    WHEN hour_of_day = 4 OR hour_of_day = 5 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 6 OR hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 THEN 'Morning' \
                                    WHEN hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 OR hour_of_day = 17 OR hour_of_day = 18 OR hour_of_day = 19 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Friday_df ")

In [20]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Friday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                      Night
1             1                      Night
2             2                      Night
3             3                      Night
4             4  Late Night/ Early Morning
5             5  Late Night/ Early Morning
6             6                    Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                  Afternoon
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                  Afternoon
18           18                  Afternoon
19           19                  Afternoon
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                    Evening

In [21]:
Saturday_df = pysqldf("SELECT *, CASE WHEN hour_of_day = 3 OR hour_of_day = 4 THEN 'Night' \
                                    WHEN hour_of_day = 5 OR hour_of_day = 6 THEN 'Late Night/ Early Morning' \
                                    WHEN hour_of_day = 7 OR hour_of_day = 8 OR hour_of_day = 9 OR hour_of_day = 10 THEN 'Morning' \
                                    WHEN hour_of_day = 11 OR hour_of_day = 12 OR hour_of_day = 13 OR hour_of_day = 14 OR hour_of_day = 15 OR hour_of_day = 16 THEN 'Afternoon' \
                                    ELSE 'Evening' END AS `GROUP` FROM Saturday_df ")

In [22]:
pysqldf("SELECT hour_of_day, `GROUP` FROM Saturday_df GROUP BY hour_of_day, `GROUP`").head(24)

    hour_of_day                      GROUP
0             0                    Evening
1             1                    Evening
2             2                    Evening
3             3                      Night
4             4                      Night
5             5  Late Night/ Early Morning
6             6  Late Night/ Early Morning
7             7                    Morning
8             8                    Morning
9             9                    Morning
10           10                    Morning
11           11                  Afternoon
12           12                  Afternoon
13           13                  Afternoon
14           14                  Afternoon
15           15                  Afternoon
16           16                  Afternoon
17           17                    Evening
18           18                    Evening
19           19                    Evening
20           20                    Evening
21           21                    Evening
22           22                    Evening
23           23                    Evening

In [23]:
# Sunday_df.to_csv('data/Weekdays/Sunday.csv')
# Monday_df.to_csv('data/Weekdays/Monday.csv')
# Tuesday_df.to_csv('data/Weekdays/Tuesday.csv')
# Wednesday_df.to_csv('data/Weekdays/Wednesday.csv')
# Thursday_df.to_csv('data/Weekdays/Thursday.csv')
# Friday_df.to_csv('data/Weekdays/Friday.csv')
# Saturday_df.to_csv('data/Weekdays/Saturday.csv')